%form.search{'ng-submit': 'submitQuery()'}
  %span Search:
  %input{type: 'text', 'ng-model': 'text'}
  %input{type: 'submit'}
%ul
  %li{'ng-repeat': 'article in articles'}
    {{article.title}}
    %ul
      %li{'ng-repeat': 'audio in article.audio'}
        .item-container
          %a{'ng-click': 'download(audio.url)'} {{audio.url}}
          %i{'ng-click': 'play(audio)', class: 'fa', 'ng-class': "{'fa-play': !audio.isLoading, 'fa-circle-o-notch': audio.isLoading, 'fa-spin': audio.isLoading}", 'ng-hide': 'audio.isPlaying'}
          %i{'ng-click': 'stop(audio)', class: 'fa fa-stop', 'ng-hide': '!audio.isPlaying'}
